<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/images/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Me a Message
                                    </h5>
                                </div>
                                <div>
                                    <form action="https://formspree.io/f/mqeenlnd" method="post" role="form" class="php-email-form needs-validation" novalidate>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                        placeholder="Your Name" required>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide your name.</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="Your Email" required>
                                                        <div class="valid-feedback">Valid email.</div>
                                                        <div class="invalid-feedback">Please enter a valid email address.</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                        placeholder="Subject" required minlength="5">
                                                        <div class="valid-feedback">Perfect!</div>
                                                        <div class="invalid-feedback">Subject must be at least 5 characters.</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5"
                                                        placeholder="Message" required minlength="10" maxlength="500"></textarea>
                                                        <div class="valid-feedback">Message looks good.</div>
                                                        <div class="invalid-feedback">
                                                            Message must be between 10 and 500 characters.
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center my-3">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit"
                                                    class="button button-a button-big button-rouded">Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Contact Me
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        Interested in working together or think I'm a good fit for your team? Let's get in touch.
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="bi bi-geo-alt"></span> Cluj Napoca </li>
                                        <li><span class="bi bi-github"></span> mariaadelam</li>
                                        <li><span class="bi bi-envelope"></span> adela_mag@yahoo.com</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul class="list-inline list-social">
                                        <li>
                                            <a href="https://www.facebook.com/" class="social-icon social-icon-facebook" target="_blank">
                                                <i class="bi bi-facebook"></i>
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/adela-mag/" class="social-icon social-icon-linkedin" target="_blank">
                                                <i class="bi bi-linkedin"></i>
                                                <i class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" class="social-icon social-icon-youtube" target="_blank">
                                                <i class="bi bi-youtube"></i>
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/mariaadelam" class="social-icon social-icon-github" target="_blank">
                                                <i class="bi bi-github"></i>
                                                <i class="bi bi-github"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->