<!-- ======= Resume Section ======= -->
<section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Software System Engineer</h3>
                                        <p>October 2023 - October 2024</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Bertrandt Group</h4>
                                        <p>
                                            The main tasks within the project included the automation of software testing in Matlab/Simulink, enhancement of methods
                                            for modelling and specification of test cases in compliance with ASIL D, improvement of test processes, test execution
                                            and reporting, and issue tracking.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>System Software Engineer Trainee</h3>
                                        <p>July 2023 - September 2024</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Bertrandt Group</h4>
                                        <p>
                                            My activities within the MBD Academy included learning the V-Model process, gaining knowledge of AUTOSAR software
                                            architecture, introduction to the Automotive SPICE industry standard, and training in Matlab/Simulink model
                                            design.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>IT Academy</h3>
                                        <p>November 2024 - September 2025</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>LINK Academy</h4>
                                        <p>
                                            Frontend JavaScript Development Course
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->


                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Master Degree</h3>
                                        <p>October 2020 - July 2022</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Technical University of Cluj-Napoca</h4>
                                        <p>
                                            Specialization in Integrated Circuits and Systems
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Bachelor Degree</h3>
                                        <p>October 2016 - July 2020</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4> Technical University of Cluj-Napoca</h4>                                      
                                        <p>
                                            Specialization in Applied Electronics
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>High School Diploma</h3>
                                        <p>September 2012 - June 2016</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4><strong><em>Simion Bărnuțiu</em></strong> National College </h4>
                                        <p>
                                            Specialization: Natural Sciences
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->