<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- <h1 class="logo"><a href="index.html">DevFolio</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo"><img src="assets/images/logo-color.png" alt="Adela Mag - Software Engineer CV" class="img-fluid"></a>
        
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero" data-tr="menu.home">Home</a></li>  
                <li><a class="nav-link scrollto" href="#about" data-tr="menu.about">About</a></li>
                <li><a class="nav-link scrollto" href="#resume" data-tr="menu.experience">Experience</a></li>
                <li><a class="nav-link scrollto " href="#work" data-tr="menu.portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto " href="#repo" data-tr="menu.github">My GitHub</a></li> 
                <li><a class="nav-link scrollto" href="#contact" data-tr="menu.contact">Contact</a></li>
                <li>
                    <a data-id="en" href="index.html" onclick="window.changeLanguage('en')">
                        <img style="max-height:15px" src="images/en.svg" alt="English" />
                    </a>
                </li>
                <li><a data-id="ro" href="index.html" onclick="window.changeLanguage('ro')">
                        <img style="max-height:15px" src="images/ro.svg" alt="Romana" />
                    </a>
                </li>
                <!-- <li class="me-auto">
                    <div class="dark-mode-toggle">
                        <i id="darkModeIcon" class="bi bi-moon"></i>
                    </div>
                </li> -->
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->