<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        The latest projects completed
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                        data-glightbox="title: My CV; description: .custom-desc1; descPosition: right;">
                        <div class="work-img">
                            <img src="assets/images/work-1.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="glightbox-desc custom-desc1">
                        <p>
                            This project is my first complex project from the Website Building module at Link Academy. It's a personal CV
                            website
                            built with <strong><em>HTML, CSS, JavaScript, and Webpack</em></strong>. I used Bootstrap for responsive design and
                            added visual effects with some
                            libraries. I used Figma only for editing images and the logo.
                        </p>
                        <p><strong>Current features:</strong></p>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-check-circle"></i> Smooth navigation</li>
                            <li><i class="bi bi-check-circle"></i> Scroll animations</li>
                            <li><i class="bi bi-check-circle"></i> Back to top button</li>
                            <li><i class="bi bi-check-circle"></i> Interactive image gallery</li>
                            <li><i class="bi bi-check-circle"></i> Responsive layout for all devices</li>
                        </ul>
                        <p><strong>Future features:</strong></p>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-check-circle"></i> Translation to multiple languages</li>
                            <li><i class="bi bi-check-circle"></i> Dark mode</li>
                        </ul>
                        <p>
                            <a href="https://mariaadelam.github.io/myCV/" target="_blank"
                                style="text-decoration: underline; font-weight: bold">Live Demo
                            </a>
                        </p>
                    </div>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">My CV</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Website Building</span> / <span class="w-date">Ongoing</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://mariaadelam.github.io/myCV/"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-2.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                        data-glightbox="title: Online Flowershop - One page project; description: .custom-desc2; descPosition: bottom;">
                        <div class="work-img">
                            <img src="assets/images/work-2.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="glightbox-desc custom-desc2">
                        <p>
                            This is a modern online flower shop website with a responsive design. The site
                            uses Vite for fast development and Bootstrap for styling.
                        </p>
                        <p>
                            It includes animations with AOS when you scroll. There is also a dark mode toggle that users can switch on or off.
                        </p>
                        <p>
                            The website has the following sections: <strong><em>Home, About, Plans, Services, Portfolio, Testimonials,
                                    Contact</em></strong>.
                        </p>
                        <p>
                            The project is built with HTML templates and has a clean, professional look for selling flowers online.
                        <div>
                            <a href="https://mariaadelam.github.io/flowershop-online/" target="_blank"
                                style="text-decoration: underline; font-weight: bold">Live Demo
                            </a>
                        </div>
                        </p>
                    </div>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Online Flowershop</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Website Building</span> / <span class="w-date">24 March 2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://mariaadelam.github.io/flowershop-online/"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-3.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                        data-glightbox="title: Phonebook App; description: .custom-desc3; descPosition: right;">
                        <div class="work-img">
                            <img src="assets/images/work-3.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="glightbox-desc custom-desc3">
                        <p>
                            The Phonebook Application is a JavaScript-based web application that allows users to store, display, and manage
                            contact information. The application enables users to save names along with their corresponding phone numbers and
                            view them in an organized list.
                        </p>
                        <p>
                            The user interface is divided into two main sections:
                            <ul class="list-unstyled">
                                <li><i class="bi bi-check-circle"></i> A form for adding new contacts, which includes input fields for the contact's name and phone number, along with a submit button.</li>
                                <li><i class="bi bi-check-circle"></i> A list that displays all saved contacts in a clear and organized manner.</li>
                            </ul>
                        </p>
                        <p>
                            The Phonebook Application is implemented using React, with Vite used as the development and build tool.
                        </p>
                        <div>
                            <a href="https://mariaadelam.github.io/phonebook-app/" target="_blank"
                                style="text-decoration: underline; font-weight: bold">Live Demo
                            </a>
                        </div>
                    </div>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Phonebook App</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Application Development</span> / <span class="w-date">27 June 2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://mariaadelam.github.io/phonebook-app/"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-4.webp" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="assets/images/work-4.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Bindo Laro Cado</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">15 Sep. 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-5.webp" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="assets/images/work-5.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Studio Lena Mado</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">22 Jun. 2021</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="assets/images/work-6.webp" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="assets/images/work-6.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Studio Big Bang</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">26 Jan. 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Portfolio Section -->