@use "general" as *; // Import general variables 

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-mf {
	.box-shadow-full {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.about-img {
		margin-bottom: 2rem;

		img {
			margin-left: 10px;
		}
	}
}

// Animate progress bars on scroll
.progress-bar {
	transition: width 0.8s ease;
}

@media (min-width: 767px) {
	.about-mf {
		.box-pl2 {
			margin-top: 3rem;
			padding-left: 0rem;
		}
	}
}

.skill-mf {
	span {
		color: $color_1;
	}

	.progress {
		background-color: $background-color_4;
		margin: 0.5rem 0 1.2rem 0;
		border-radius: 0;
		height: 0.7rem;

		.progress-bar {
			height: 0.7rem;
			background-color: $background-color_2;
  			transition: width 1.5s ease-in-out; // Smooth transition for width change
		}
	}
}