@use "general" as *; // Import general variables 

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    text-align: center;
    color: var(--color_5);
    padding: 25px 0;
    background: var(--bg-footer);

    .copyright {
        margin-bottom: 0.3rem;
    }

    .credits {
        margin-bottom: 0;

        a {
            color: var(--color_5);
        }
    }
}